<h2><%= @city.title %>的风物</h2>

<table class="table table-striped">
  <tr>
    <td>地址: <%= @post.address %></td>
  </tr>
  <tr>
    <td>推荐理由: <%= @post.reason %></td>
  </tr>
  <tr>
    <td>预算: <%= @post.price %></td>
  </tr>
  <tr>
    <td>备忘物件: <%= @post.necessity %></td>
  </tr>
  <tr>
    <td>是否需要预约: <%= @post.reservation %></td>
  </tr>
  <tr>
    <td>推荐去体验的时节: <%= @post.best_time %></td>
  </tr>

</table>
