<h2><%= @city.title %>的风物</h2>

<table class="table table-striped">
  <tr>
    <td><%= @post.address %></td>
  </tr>
  <tr>
    <td><%= @post.reason %></td>
  </tr>
  <tr>
    <td><%= @post.price %></td>
  </tr>
  <tr>
    <td><%= @post.necessity %></td>
  </tr>
  <tr>
    <td><%= @post.reservation %></td>
  </tr>
  <tr>
    <td><%= @post.best_time %></td>
  </tr>

</table>
