<h2><%= @city.title %></h2>

<h4><%= @city.description %></h4>

<%= link_to("Write a Post", new_city_post_path(@city), class: "btn btn-default pull-right")%>

<table class="table table-striped">

  <% @posts.each do |post| %>
  <tr>
    <td><%= link_to(post.address, city_post_path(@city, post)) %></td>
    <td>
      <% if current_user == post.user %>
        <%= link_to("Edit", edit_city_post_path(@city, post) , class:"btn btn-sm btn-default")%>
      <% end %>
    </td>
    <td>
        <% if current_user == post.user %>
          <%= link_to("Delete", city_post_path(@city, post) , method: :delte, class:"btn btn-sm btn-danger")%>
        <% end %>
    </td>
  </tr>
  <% end %>

</table>
